# Vertical Candidate List
Vertical Candidate List=True
# Use mouse wheel to go to prev or next page
WheelForPaging=True
# Font
{{- if eq .chezmoi.hostname "surface-pro" }}
Font="Noto Sans CJK TC 16"
{{- else }}
Font="Noto Sans CJK TC 12"
{{- end }}
# Menu Font
MenuFont="JetBrainsMonoNL Nerd Font 12"
# Tray Font
TrayFont="Sans Bold 10"
# Tray Label Outline Color
TrayOutlineColor=#000000
# Tray Label Text Color
TrayTextColor=#ffffff
# Prefer Text Icon
PreferTextIcon=False
# Show Layout Name In Icon
ShowLayoutNameInIcon=True
# Use input method language to display text
UseInputMethodLanguageToDisplayText=True
# Theme
Theme=catppuccin-old
# Dark Theme
DarkTheme=default-dark
# Follow system light/dark color scheme
UseDarkTheme=False
# Use Per Screen DPI on X11
PerScreenDPI=True
# Force font DPI on Wayland
ForceWaylandDPI=0
# Enable fractional scale under Wayland
EnableFractionalScale=False

